* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    max-width: 900px;
    width: 100%;
    margin: 2rem 10%;
    padding: 0 1rem;
}
.form {
    width: 100%;
}

.top {
    display: flex;
    max-width: 500px;
    min-width: 100px;
    width: 100%;
}
.top div {
    width: 100%;
}

.register {
    margin-bottom: 2rem;
    background-color: #e4e4e4;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 512px;
    margin: auto;
    margin-bottom: 2rem;
}
.organise {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.organise .top div textarea {
    padding: 0.5rem;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    max-width: 500px;
    width: 100%;
    max-height: 100px;
    resize: none;
}

.add {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #26a100;
    color: #fff;
}

.bottom {
    width: 100%;
    padding-left: 1rem;
}

.selections {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom .selections img {
    width: 20px;
    margin-right: 1rem;
}

.selections label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



label {
    margin-right: 2rem;
    width: 100%;
    font-size: 0.8rem;
}

h1 {
    margin: 1rem auto;
    text-align: center;
}
select {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    float: right;

    width: 100%;
}

#issuesList {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.well {
    background-color: #ff6f6f;
    color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 0.5rem;
}

.well p {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.complete {
    padding: 0.5rem 1rem;
    background-color: #0077d8;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-right: 1rem;
}

.remove {
    padding: 0.5rem 1rem;
    background-color: #d10000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.5rem;
}

.prio {
    margin-top: 3rem;
}

.well .one {
    margin-top: 1rem;
}

.well img {
    width: 20px;
    margin-right: 1rem;
}